$color00:#000000;
$color43:#434343;
$color51:#515151;
$color20:#202020;
$color76:#7688A4;
$bgColor29:#295093;
$color53:#535353;
$colorFF:#FFFFFF;
$headerBgColor:#F6F6F9;
$colorF6:#F6F6F9;
$color6B:#6B6D97;
$colorEF:#EFBA542E;
$color33:#333333; 
$color28:#28508E; 

$color88:#888888;
// $color 
// $color 
// $color 
// $color 
$btnBGColor: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
$btnBGColor2: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
